<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.mmk.kmpnotifier.notification.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mmk.kmpnotifier.EVENT_SCHEDULED_NOTIFICATION_FIRED_INTERNAL"/>
                <action android:name="com.mmk.kmpnotifier.NOTIFICATION_ACTION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
